body {
    margin: 0px;
    background-color: #E5DCFB;
    background-image: url(../img/bg_news_pc.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left top;
    font-family: Inter;
    min-height: 1000px;
    height: 100vh;
    overflow: auto;
}
main {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    padding-top: 266px;

    animation: show 1.2s linear both;
}
@keyframes show {
    from { opacity: 0; }
    to { opacity: 1; }
}
.content {
    width: 1000px;
    min-width: 100px;
    margin: 0px 40px;
    overflow: hidden;
}
.content h1 {
    font-weight: 400;
    letter-spacing: 0.4em;
    color: #745bc7;
}
.profile-box {
    margin-top: 90px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* padding: 55px 80px; */
    gap: 30px;
}
.image-container {
    /* padding: 0px 20px; */
    flex: 1;
    width: 370px;
    min-width: 250px;
    max-width: 368px;
}
.image-container img {
    width: 100%;
}
.profile-box article {
    font-size: 0.92em;
    font-weight: 400;
    letter-spacing: 0.03em;
    line-height: 1.63em;
    flex: 1;
    min-width: 250px;
    max-width: 402px;
}