div {
    /* border: 3px solid black; */
    margin: auto;
    width: 20%;
    padding: 10px;    
}
#number {
    font-size: 800%;
    display: flex;
    justify-content: center;
}
#controls {
    display: flex;
    justify-content: center;
}
#controls > button{
    font-size: 150%;
    padding: 10px;
    margin: 10px;
}